@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body {
    font-family: 'Noto Serif', serif, Arial, Helvetica, sans-serif;
}

header {
    // display: flex;
    // justify-content: space-between;
    text-align: center;
    padding: 50px 30px;
    background-color: #40be1a;
    font-weight: bold;
    font-size: larger;
}